In [1]:
import numpy as np
import pandas as pd

In [2]:
df_missing = pd.read_excel("missing_dataset_falcon9.xlsx")

In [3]:
df_missing

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,NaN,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,NaN,None None,1,False,False,False,NaN,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5,0,B1062,-80.577366,28.561857,1

In [4]:
df_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     81 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      86 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     int64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 10.9+ KB

In [5]:
df_row = df_missing.dropna(axis= 0)
df_row.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 13 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    58 non-null     int64
 1   Date            58 non-null     datetime64[ns]
 2   BoosterVersion  58 non-null     object
 3   PayloadMass     58 non-null     float64
 4   Orbit           58 non-null     object
 5   LaunchSite      58 non-null     object
 6   Outcome         58 non-null     object
 7   Flights         58 non-null     int64
 8   GridFins        58 non-null     bool
 9   Reused          58 non-null     bool
 10  Legs            58 non-null     bool
 11  LandingPad      58 non-null     object
 12  Block           58 non-null     int64
 13  ReusedCount     58 non-null     int64
 14  Serial          58 non-null     object
 15  Longitude       58 non-null     float64
 16  Latitude        58 non-null     float64
 17  Class           58 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 7.4+ KB

In [6]:
df_column = df_missing.dropna(axis= 1)
df_column.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   Orbit           90 non-null     object
 4   Outcome         90 non-null     object
 5   Flights         90 non-null     int64
 6   GridFins        90 non-null     bool
 7   Reused          90 non-null     bool
 8   Legs            90 non-null     bool
 9   Block           90 non-null     int64
 10  ReusedCount     90 non-null     int64
 11  Serial          90 non-null     object
 12  Longitude       90 non-null     float64
 13  Latitude        90 non-null     float64
 14  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 8.8+ KB

In [7]:
df_missing["PayloadMass"]

0      6104.959412
1       525.000000
2       677.000000
3              NaN
4      3170.000000
          ...
85    15400.000000
86    15400.000000
87    15400.000000
88    15400.000000
89     3681.000000
Name: PayloadMass, Length: 90, dtype: float64

In [8]:
payload_mean = df_missing["PayloadMass"].mean()
payload_mean

6379.7368845315905

In [9]:
df_missing["PayloadMass"] = df_missing["PayloadMass"].replace(np.nan, payload_mean)

In [10]:
df_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      86 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     int64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 10.9+ KB

In [11]:
df_missing["LaunchSite"].value_counts()

CCAFS SLC 40    53
KSC LC 39A      20
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

In [12]:
df_missing["LaunchSite"] = df_missing["LaunchSite"].replace(np.nan, "CCAFS SLC 40")

In [13]:
df_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     int64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 10.9+ KB

In [14]:
df_missing["LandingPad"].value_counts()

5e9e3032383ecb6bb234e7ca    35
5e9e3032383ecb267a34e7c7    13
5e9e3033383ecbb9e534e7cc    12
5e9e3032383ecb761634e7cb     2
5e9e3032383ecb554034e7c9     2
Name: LandingPad, dtype: int64

In [15]:
df_landingpad = df_missing[df_missing["LandingPad"] == "5e9e3032383ecb6bb234e7ca"]

In [16]:
df_landingpad

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
15,16,2015-06-28,Falcon 9,2477.000000,ISS,CCAFS SLC 40,None ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,1,0,B1018,-80.577366,28.561857,0
18,19,2016-03-04,Falcon 9,5271.000000,GTO,CCAFS SLC 40,False ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,1,0,B1020,-80.577366,28.561857,0
19,20,2016-04-08,Falcon 9,3136.000000,ISS,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,2,1,B1021,-80.577366,28.561857,1
20,21,2016-05-06,Falcon 9,6379.736885,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,2,0,B1022,-80.577366,28.561857,1
21,22,2016-05-27,Falcon 9,3100.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,2,1,B1023,-80.577366,28.561857,1
23,24,2016-08-14,Falcon 9,4600.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,2,0,B1026,-80.577366,28.561857,1
24,25,2016-09-01,Falcon 9,5500.000000,GTO,CCAFS SLC 40,None ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,3,0,B1028,-80.577366,28.561857,0
28,29,2017-03-30,Falcon 9,5300.000000,GTO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,2,1,B1021,-80.603956,28.608058,1
32,33,2017-06-23,Falcon 9,6379.736885,GTO,KSC LC 39A,True ASDS,2,True,True,False,5e9e3032383ecb6bb234e7ca,3,1,B1029,-80.603956,28.608058,1
39,40,2017-10-11,Falcon 9,5200.000000,GTO,KSC LC 39A,True ASDS,2,True,True,False,5e9e3032383ecb6bb234e7ca,3,1,B1031,-80.603956,28.608058,1
40,41,2017-10-30,Falcon 9,3700.000000,GTO,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,4,0,B1042,-80.603956,28.608058,1
48,49,2018-04-18,Falcon 9,350.000000,HEO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,4,1,B1045,-80.577366,28.561857,1
49,50,2018-05-11,Falcon 9,3750.000000,GTO,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,3,B1046,-80.603956,28.608058,1
52,53,2018-07-22,Falcon 9,7076.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,2,B1047,-80.577366,28.561857,1
54,55,2018-08-07,Falcon 9,5800.000000,GTO,CCAFS SLC 40,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5,3,B1046,-80.577366,28.561857,1
55,56,2018-09-10,Falcon 9,7060.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
57,58,2018-11-15,Falcon 9,3000.000000,GTO,KSC LC 39A,True ASDS,2,True,True,False,5e9e3032383ecb6bb234e7ca,5,2,B1047,-80.603956,28.608058,1
62,63,2019-03-02,Falcon 9,12259.000000,ISS,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.603956,28.608058,1
63,64,2019-05-04,Falcon 9,2482.000000,ISS,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,3,B1056,-80.577366,28.561857,1
64,65,2019-05-24,Falcon 9,13620.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
68,69,2019-11-11,Falcon 9,15600.000000,VLEO,CCAFS SLC 40,True ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,4,B1048,-80.577366,28.561857,1
69,70,2019-12-05,Falcon 9,5000.000000,ISS,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,3,B1059,-80.577366,28.561857,1
70,71,2019-12-17,Falcon 9,6800.000000,GTO,CCAFS SLC 40,True ASDS,3,True,True,False,5e9e3032383ecb6bb234e7ca,5,3,B1056,-80.577366,28.561857,1
71,72,2020-01-07,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
73,74,2020-01-29,Falcon 9,15600.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.577366,28.561857,1
74,75,2020-02-17,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,False ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,3,B1056,-80.577366,28.561857,0
76,77,2020-03-18,Falcon 9,15600.000000,VLEO,KSC LC 39A,False ASDS,5,True,True,False,5e9e3032383ecb6bb234e7ca,5,4,B1048,-80.603956,28.608058,0
77,78,2020-04-22,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.603956,28.608058,1
78,79,2020-05-30,Falcon 9,9525.000000,ISS,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,2,B1058,-80.603956,28.608058,1
80,81,2020-06-13,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5,3,B1059,-80.577366,28.561857,1
83,84,2020-08-18,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.603956,28.608058,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5,0,B1062,-80.577366,28.561857,1

In [17]:
df_landingpad["Orbit"]

15     ISS
18     GTO
19     ISS
20     GTO
21     GTO
23     GTO
24     GTO
28     GTO
32     GTO
39     GTO
40     GTO
48     HEO
49     GTO
52     GTO
54     GTO
55     GTO
57     GTO
62     ISS
63     ISS
64    VLEO
68    VLEO
69     ISS
70     GTO
71    VLEO
73    VLEO
74    VLEO
76    VLEO
77    VLEO
78     ISS
80    VLEO
83    VLEO
85    VLEO
86    VLEO
87    VLEO
89     MEO
Name: Orbit, dtype: object

In [18]:
set(df_landingpad["Orbit"])

{'GTO', 'HEO', 'ISS', 'MEO', 'VLEO'}

In [19]:
df_landingpad["Orbit"].value_counts()

GTO     15
VLEO    12
ISS      6
HEO      1
MEO      1
Name: Orbit, dtype: int64

In [20]:
df_missing[["LandingPad", "Orbit"]]

                  LandingPad Orbit
0                        NaN   LEO
1                        NaN   LEO
2                        NaN   ISS
3                        NaN    PO
4                        NaN   GTO
..                       ...   ...
85  5e9e3032383ecb6bb234e7ca  VLEO
86  5e9e3032383ecb6bb234e7ca  VLEO
87  5e9e3032383ecb6bb234e7ca  VLEO
88  5e9e3033383ecbb9e534e7cc  VLEO
89  5e9e3032383ecb6bb234e7ca   MEO

[90 rows x 2 columns]

In [21]:
df = pd.read_csv("dataset_falcon9.csv")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), float64(4), int64(4), object(7)
memory usage: 10.9+ KB

In [23]:
df = df.drop(["FlightNumber", "Date", "BoosterVersion", "Longitude", "Latitude"], axis= 1)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PayloadMass  90 non-null     float64
 1   Orbit        90 non-null     object
 2   LaunchSite   90 non-null     object
 3   Outcome      90 non-null     object
 4   Flights      90 non-null     int64
 5   GridFins     90 non-null     bool
 6   Reused       90 non-null     bool
 7   Legs         90 non-null     bool
 8   LandingPad   64 non-null     object
 9   Block        90 non-null     float64
 10  ReusedCount  90 non-null     int64
 11  Serial       90 non-null     object
 12  Class        90 non-null     int64
dtypes: bool(3), float64(2), int64(3), object(5)
memory usage: 7.4+ KB

In [25]:
df.head()

,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Class
0,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,0
1,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,0
2,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,0
3,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,0
4,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,0

In [26]:
df.describe()

        PayloadMass    Flights      Block  ReusedCount      Class
count     90.000000  90.000000  90.000000    90.000000  90.000000
mean    6104.959412   1.788889   3.500000     1.655556   0.666667
std     4694.671720   1.213172   1.595288     1.710254   0.474045
min      350.000000   1.000000   1.000000     0.000000   0.000000
25%     2510.750000   1.000000   2.000000     0.000000   0.000000
50%     4701.500000   1.000000   4.000000     1.000000   1.000000
75%     8912.750000   2.000000   5.000000     3.000000   1.000000
max    15600.000000   6.000000   5.000000     5.000000   1.000000

In [27]:
df["LaunchSite"]

0     CCAFS SLC 40
1     CCAFS SLC 40
2     CCAFS SLC 40
3      VAFB SLC 4E
4     CCAFS SLC 40
          ...
85      KSC LC 39A
86      KSC LC 39A
87      KSC LC 39A
88    CCAFS SLC 40
89    CCAFS SLC 40
Name: LaunchSite, Length: 90, dtype: object

In [28]:
set(df["LaunchSite"])

{'CCAFS SLC 40', 'KSC LC 39A', 'VAFB SLC 4E'}

In [29]:
df["LaunchSite"].value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

In [30]:
dummy_launchsite = pd.get_dummies(df["LaunchSite"])
dummy_launchsite

    CCAFS SLC 40  KSC LC 39A  VAFB SLC 4E
0              1           0            0
1              1           0            0
2              1           0            0
3              0           0            1
4              1           0            0
..           ...         ...          ...
85             0           1            0
86             0           1            0
87             0           1            0
88             1           0            0
89             1           0            0

[90 rows x 3 columns]

In [31]:
dummy_landingpad = pd.get_dummies(df["LandingPad"])
dummy_landingpad

,5e9e3032383ecb267a34e7c7,5e9e3032383ecb554034e7c9,5e9e3032383ecb6bb234e7ca,5e9e3032383ecb761634e7cb,5e9e3033383ecbb9e534e7cc
0,0,0,0,0,0
1,0,0,0,0,0
2,0,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,0
...,...,...,...,...,...
85,0,0,1,0,0
86,0,0,1,0,0
87,0,0,1,0,0
88,0,0,0,0,1
89,0,0,1,0,0

In [32]:
dummy_landingpad[10: 20]

,5e9e3032383ecb267a34e7c7,5e9e3032383ecb554034e7c9,5e9e3032383ecb6bb234e7ca,5e9e3032383ecb761634e7cb,5e9e3033383ecbb9e534e7cc
10,0,0,0,0,0
11,0,0,0,1,0
12,0,0,0,0,0
13,0,0,0,1,0
14,0,0,0,0,0
15,0,0,1,0,0
16,1,0,0,0,0
17,0,0,0,0,1
18,0,0,1,0,0
19,0,0,1,0,0

In [33]:
df.columns

Index(['PayloadMass', 'Orbit', 'LaunchSite', 'Outcome', 'Flights', 'GridFins',
       'Reused', 'Legs', 'LandingPad', 'Block', 'ReusedCount', 'Serial',
       'Class'],
      dtype='object')

In [34]:
df_dummy = pd.get_dummies(df[["Orbit", "LaunchSite", "Outcome", "LandingPad", "Serial"]])

In [35]:
df_dummy

,Orbit_ES-L1,Orbit_GEO,Orbit_GTO,Orbit_HEO,Orbit_ISS,Orbit_LEO,Orbit_MEO,Orbit_PO,Orbit_SO,Orbit_SSO,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
87,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
88,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
89,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [36]:
df_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 80 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Orbit_ES-L1                          90 non-null     uint8
 1   Orbit_GEO                            90 non-null     uint8
 2   Orbit_GTO                            90 non-null     uint8
 3   Orbit_HEO                            90 non-null     uint8
 4   Orbit_ISS                            90 non-null     uint8
 5   Orbit_LEO                            90 non-null     uint8
 6   Orbit_MEO                            90 non-null     uint8
 7   Orbit_PO                             90 non-null     uint8
 8   Orbit_SO                             90 non-null     uint8
 9   Orbit_SSO                            90 non-null     uint8
 10  Orbit_VLEO                           90 non-null     uint8
 11  LaunchSite_CCAFS SLC 40              90 non-null     uint8
 12  LaunchSite_KSC LC 39A                90 non-null     uint8
 13  LaunchSite_VAFB SLC 4E               90 non-null     uint8
 14  Outcome_False ASDS                   90 non-null     uint8
 15  Outcome_False Ocean                  90 non-null     uint8
 16  Outcome_False RTLS                   90 non-null     uint8
 17  Outcome_None ASDS                    90 non-null     uint8
 18  Outcome_None None                    90 non-null     uint8
 19  Outcome_True ASDS                    90 non-null     uint8
 20  Outcome_True Ocean                   90 non-null     uint8
 21  Outcome_True RTLS                    90 non-null     uint8
 22  LandingPad_5e9e3032383ecb267a34e7c7  90 non-null     uint8
 23  LandingPad_5e9e3032383ecb554034e7c9  90 non-null     uint8
 24  LandingPad_5e9e3032383ecb6bb234e7ca  90 non-null     uint8
 25  LandingPad_5e9e3032383ecb761634e7cb  90 non-null     uint8
 26  LandingPad_5e9e3033383ecbb9e534e7cc  90 non-null     uint8
 27  Serial_B0003                         90 non-null     uint8
 28  Serial_B0005                         90 non-null     uint8
 29  Serial_B0007                         90 non-null     uint8
 30  Serial_B1003                         90 non-null     uint8
 31  Serial_B1004                         90 non-null     uint8
 32  Serial_B1005                         90 non-null     uint8
 33  Serial_B1006                         90 non-null     uint8
 34  Serial_B1007                         90 non-null     uint8
 35  Serial_B1008                         90 non-null     uint8
 36  Serial_B1010                         90 non-null     uint8
 37  Serial_B1011                         90 non-null     uint8
 38  Serial_B1012                         90 non-null     uint8
 39  Serial_B1013                         90 non-null     uint8
 40  Serial_B1015                         90 non-null     uint8
 41  Serial_B1016                         90 non-null     uint8
 42  Serial_B1017                         90 non-null     uint8
 43  Serial_B1018                         90 non-null     uint8
 44  Serial_B1019                         90 non-null     uint8
 45  Serial_B1020                         90 non-null     uint8
 46  Serial_B1021                         90 non-null     uint8
 47  Serial_B1022                         90 non-null     uint8
 48  Serial_B1023                         90 non-null     uint8
 49  Serial_B1025                         90 non-null     uint8
 50  Serial_B1026                         90 non-null     uint8
 51  Serial_B1028                         90 non-null     uint8
 52  Serial_B1029                         90 non-null     uint8
 53  Serial_B1030                         90 non-null     uint8
 54  Serial_B1031                         90 non-null     uint8
 55  Serial_B1032                         90 non-null     uint8
 56  Serial_B1034                         90 non-null     uint8
 57  Serial_B1035                         90 non-null     uint8
 58  Serial_B1036                         90 non-null     uint8
 59  Serial_B1037                         90 non-null     uint8
 60  Serial_B1038                         90 non-null     uint8
 61  Serial_B1039                         90 non-null     uint8
 62  Serial_B1040                         90 non-null     uint8
 63  Serial_B1041                         90 non-null     uint8
 64  Serial_B1042                         90 non-null     uint8
 65  Serial_B1043                         90 non-null     uint8
 66  Serial_B1044                         90 non-null     uint8
 67  Serial_B1045                         90 non-null     uint8
 68  Serial_B1046                         90 non-null     uint8
 69  Serial_B1047                         90 non-null     uint8
 70  Serial_B1048                         90 non-null     uint8
 71  Serial_B1049                         90 non-null     uint8
 72  Serial_B1050                         90 non-null     uint8
 73  Serial_B1051                         90 non-null     uint8
 74  Serial_B1054                         90 non-null     uint8
 75  Serial_B1056                         90 non-null     uint8
 76  Serial_B1058                         90 non-null     uint8
 77  Serial_B1059                         90 non-null     uint8
 78  Serial_B1060                         90 non-null     uint8
 79  Serial_B1062                         90 non-null     uint8
dtypes: uint8(80)
memory usage: 7.2 KB

In [37]:
df["GridFins"] = df["GridFins"].astype(int)
df["Reused"] = df["Reused"].astype(int)
df["Legs"] = df["Legs"].astype(int)

In [38]:
df = df.drop(["Orbit", "LaunchSite", "Outcome", "LandingPad", "Serial"], axis= 1)

In [39]:
df = pd.concat([df, df_dummy], axis= 1)

In [40]:
df.head()

,PayloadMass,Flights,GridFins,Reused,Legs,Block,ReusedCount,Class,Orbit_ES-L1,Orbit_GEO,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,6104.959412,1,0,0,0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,525.000000,1,0,0,0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,677.000000,1,0,0,0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,500.000000,1,0,0,0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3170.000000,1,0,0,0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 88 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   PayloadMass                          90 non-null     float64
 1   Flights                              90 non-null     int64
 2   GridFins                             90 non-null     int32
 3   Reused                               90 non-null     int32
 4   Legs                                 90 non-null     int32
 5   Block                                90 non-null     float64
 6   ReusedCount                          90 non-null     int64
 7   Class                                90 non-null     int64
 8   Orbit_ES-L1                          90 non-null     uint8
 9   Orbit_GEO                            90 non-null     uint8
 10  Orbit_GTO                            90 non-null     uint8
 11  Orbit_HEO                            90 non-null     uint8
 12  Orbit_ISS                            90 non-null     uint8
 13  Orbit_LEO                            90 non-null     uint8
 14  Orbit_MEO                            90 non-null     uint8
 15  Orbit_PO                             90 non-null     uint8
 16  Orbit_SO                             90 non-null     uint8
 17  Orbit_SSO                            90 non-null     uint8
 18  Orbit_VLEO                           90 non-null     uint8
 19  LaunchSite_CCAFS SLC 40              90 non-null     uint8
 20  LaunchSite_KSC LC 39A                90 non-null     uint8
 21  LaunchSite_VAFB SLC 4E               90 non-null     uint8
 22  Outcome_False ASDS                   90 non-null     uint8
 23  Outcome_False Ocean                  90 non-null     uint8
 24  Outcome_False RTLS                   90 non-null     uint8
 25  Outcome_None ASDS                    90 non-null     uint8
 26  Outcome_None None                    90 non-null     uint8
 27  Outcome_True ASDS                    90 non-null     uint8
 28  Outcome_True Ocean                   90 non-null     uint8
 29  Outcome_True RTLS                    90 non-null     uint8
 30  LandingPad_5e9e3032383ecb267a34e7c7  90 non-null     uint8
 31  LandingPad_5e9e3032383ecb554034e7c9  90 non-null     uint8
 32  LandingPad_5e9e3032383ecb6bb234e7ca  90 non-null     uint8
 33  LandingPad_5e9e3032383ecb761634e7cb  90 non-null     uint8
 34  LandingPad_5e9e3033383ecbb9e534e7cc  90 non-null     uint8
 35  Serial_B0003                         90 non-null     uint8
 36  Serial_B0005                         90 non-null     uint8
 37  Serial_B0007                         90 non-null     uint8
 38  Serial_B1003                         90 non-null     uint8
 39  Serial_B1004                         90 non-null     uint8
 40  Serial_B1005                         90 non-null     uint8
 41  Serial_B1006                         90 non-null     uint8
 42  Serial_B1007                         90 non-null     uint8
 43  Serial_B1008                         90 non-null     uint8
 44  Serial_B1010                         90 non-null     uint8
 45  Serial_B1011                         90 non-null     uint8
 46  Serial_B1012                         90 non-null     uint8
 47  Serial_B1013                         90 non-null     uint8
 48  Serial_B1015                         90 non-null     uint8
 49  Serial_B1016                         90 non-null     uint8
 50  Serial_B1017                         90 non-null     uint8
 51  Serial_B1018                         90 non-null     uint8
 52  Serial_B1019                         90 non-null     uint8
 53  Serial_B1020                         90 non-null     uint8
 54  Serial_B1021                         90 non-null     uint8
 55  Serial_B1022                         90 non-null     uint8
 56  Serial_B1023                         90 non-null     uint8
 57  Serial_B1025                         90 non-null     uint8
 58  Serial_B1026                         90 non-null     uint8
 59  Serial_B1028                         90 non-null     uint8
 60  Serial_B1029                         90 non-null     uint8
 61  Serial_B1030                         90 non-null     uint8
 62  Serial_B1031                         90 non-null     uint8
 63  Serial_B1032                         90 non-null     uint8
 64  Serial_B1034                         90 non-null     uint8
 65  Serial_B1035                         90 non-null     uint8
 66  Serial_B1036                         90 non-null     uint8
 67  Serial_B1037                         90 non-null     uint8
 68  Serial_B1038                         90 non-null     uint8
 69  Serial_B1039                         90 non-null     uint8
 70  Serial_B1040                         90 non-null     uint8
 71  Serial_B1041                         90 non-null     uint8
 72  Serial_B1042                         90 non-null     uint8
 73  Serial_B1043                         90 non-null     uint8
 74  Serial_B1044                         90 non-null     uint8
 75  Serial_B1045                         90 non-null     uint8
 76  Serial_B1046                         90 non-null     uint8
 77  Serial_B1047                         90 non-null     uint8
 78  Serial_B1048                         90 non-null     uint8
 79  Serial_B1049                         90 non-null     uint8
 80  Serial_B1050                         90 non-null     uint8
 81  Serial_B1051                         90 non-null     uint8
 82  Serial_B1054                         90 non-null     uint8
 83  Serial_B1056                         90 non-null     uint8
 84  Serial_B1058                         90 non-null     uint8
 85  Serial_B1059                         90 non-null     uint8
 86  Serial_B1060                         90 non-null     uint8
 87  Serial_B1062                         90 non-null     uint8
dtypes: float64(2), int32(3), int64(3), uint8(80)
memory usage: 11.7 KB

In [42]:
df.to_csv("preprocessed_dataset.csv")

In [43]:
df.to_csv("Data Science/practice/out.csv")